@model PhotoContest.Infrastructure.Models.ViewModels.Picture.FullPictureViewModel
@{ var picId = "pictureVotes" + Model.Id;}
<div class="picture">
    <a href="#" onclick="ajaxHelper.toggleModal(@Model.Id)">
        <img src="@Model.Url" class="img-thumbnail" />
        @Html.Partial("_PictureModalPartial")
    </a>
    <p><strong>Uploader: </strong> @Model.UserName</p>
    <span class="badge">Votes </span>
    <span class="badge" id="@picId">@Model.Votes</span>
    
    @if (Request.IsAuthenticated)
    {
        @Ajax.ActionLink("Vote", "Vote", "Pictures", new { Area = "", id = @Model.Id }, new AjaxOptions
        {
            UpdateTargetId = "pictureVotes" + @Model.Id,
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnFailure = "ajaxHelper.onError"
        }, new { @class = "btn btn-success" })
    }
</div>